<%= turbo_frame_tag dom_id(quest) do %>
  <div class="bg-white shadow-md rounded-lg p-4 border border-gray-200">
    <div class="flex items-center justify-between">
      <div class="flex items-center space-x-3 flex-1">
        <%= link_to toggle_status_quest_path(quest), 
            method: :patch,
            data: { turbo_method: :patch , testid: "quest-check-#{quest.id}"},
            class: "flex items-center" do %>
            <input type="checkbox" 
                   id="quest_<%= quest.id %>_status"
                   name="quest[<%= quest.id %>][status]"
                   <%= "checked" if quest.status %>
                   disabled
                   class="h-4 w-4 text-blue-600 focus:ring-blue-500 border-gray-300 rounded pointer-events-none"
                   data-testid="ascas"
                   >
        <% end %>
        <span  data-testid="quest-name-<%= quest.id %> class="<%= quest.status ? 'line-through text-gray-500' : 'text-gray-900' %> font-medium ml-3  break-all">
          <%= quest.name %>
        </span>
      </div>
      <div class="flex items-center space-x-2">
        <%= link_to quest_path(quest), 
            method: :delete,
            data: { 
              confirm: 'Are you sure?',
              turbo_method: :delete,
              testid: "quest-delete-#{quest.id}"
            },
            class: "text-red-600 hover:text-red-800 transition-colors" do %>
          <svg class="w-5 h-5" fill="none" stroke="currentColor" viewBox="0 0 24 24">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M19 7l-.867 12.142A2 2 0 0116.138 21H7.862a2 2 0 01-1.995-1.858L5 7m5 4v6m4-6v6m1-10V4a1 1 0 00-1-1h-4a1 1 0 00-1 1v3M4 7h16"></path>
          </svg>
        <% end %>
      </div>
    </div>
  </div>
<% end %> 